<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="javascript:void(0)">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
      </li>
    </ul>
    <div *ngIf='!isLogin' class="form-inline my-2 my-lg-0">
      <a class="btn btn-light" [routerLink]="['/signin']" routerLinkActive="router-link-active" >Singin</a>
      <a class="btn btn-success" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Singup</a>
    </div>
    <div *ngIf='isLogin' class="form-inline my-2 my-lg-0">
      <a class="btn btn-danger" (click)="logout()" >Logout</a>
    </div>
  </div>
</nav>
